@import "tailwindcss";
@import "@heroui/styles"; 


body {
  background-color: var(--color-bg);
}

.bg-primary{
  background-color: var(--color-primary);
}

.bg-secondary{
  background-color: var(--color-secondary);
}

.text-primary{
  color: var(--color-primary);
}

.text-secondary{
  color: var(--color-secondary);
}

.text-action{
  color: var(--color-action);
}

.hover-action:hover{
  background-color: var(--color-action);
}

.text-white{
  color: var(--color-white);
}

.text-black{
  color: var(--color-black);
}

:root {
  /* Brand */
  --color-primary: #1C2B4C;


  /* Earthy Accent */
  --color-secondary: #A07855;


  /* Premium Highlight */
  --color-accent: #D2B591;


  /* CTA / Action */
  --color-action: #2A7B76;


  /* Background */
  --color-bg: #F8F4EE;


  /* Basic */
  --color-white: #FFFFFF;
  --color-black: #111111;
}